<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1a4c15eed2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
   

   <body class="d-flex flex-column vh-100">
     <header class="shadow-sm">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
           <a class="navbar-brand p-3" href="/">
             <span>Bookers</span>
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class = "navbar-nav ml-auto">

               <% if user_signed_in? %>
               <li style="padding :8px;" >
                 <%= link_to user_path(current_user), class: "nav-item text-light" do %>
                   <i class="fa-solid fa-house">Home</i>
                 <% end %>
               </li>
               <li style = "padding :8px">
                 <%= link_to users_path, class: "nav-item text-light" do %>
                   <i class="fa-solid fa-users">Users</i>
                 <% end %>
               </li>
               <li style="padding :8px;">
                 <%= link_to books_path, class: "nav-item text-light" do %>
                   <i class="fa-solid fa-book-open">Books</i>
                 <% end %>
               </li>
               <li style="padding :8px;">
                 <%= link_to destroy_user_session_path, method: :delete, class: "nav-item text-light" do %>
                   <i class="fa-solid fa-right-from-bracket">Log out</i>
                 <% end %>
               </li>

              <% else %>
              <li>
                <a class = "nav-link text-light" href="/">
                  <i class="fa-solid fa-house"></i>Home
                </a>
              </li>
              <li>
                <a class = "nav-link text-light" href="/home/about">
                  <i class="fa-solid fa-link"></i>About
                </a>
              </li>
              <li>
               <a class = "nav-link text-light" href="/users/sign_up">
                 <i class="fa-solid fa-user-plus"></i>Sign up
               </a>
              </li>
              <li>
               <a class = "nav-link text-light" href="/users/sign_in">
                 <i class="fa-solid fa-right-to-bracket"></i>Log in
               </a>
              </li>
      　    　 <% end %>
             </ul>
          </div>


      </div>
    </nav>
  </header>
  
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
